@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


.centrado {
    margin: 0 auto;
    text-align: center;
    padding: 18rem 0;
    font-family: 'Orbitron', cursive;
}

#reloj {
    color: black;
    background-color: #fff;
    font-size: 180px;
    margin-top: 1px;
}

#calendario {
    color: black;
}