h1 {
    color: red
}

/* 
las clases principales que nos inyecta el sweetalert
.swal-overlay - Contexto externo del alert 
.swal-modal- Estructura de estilo de la propia ventana del alert
.swal-footer - Estructura del footer de la ventana del alert.
*/
.swal-overlay {
    background-color: lightgrey;
}

.swal-modal {
    background-color: lightpink;
    border: 2px solid black
}

.swal-footer {
    background-color: lightsalmon;
    margin-top: 32px;

}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #afb349;
    font-size: 12px;
    border: 1px solid rgb(154, 62, 62);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}